@charset "UTF-8";

@font-face {
    font-family: 'destaque';
    src: url(fontes/Lovalina\ Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --cor-fundo: #d1cfcf;
    --cor-segundaria: #937038;

    --font-destaque: 'destaque';
    --font-secundaria: Arial;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: var(--cor-fundo);
    font-family: var(--font-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}


header {
    width:  100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: center;
    gap: 230px;
    padding: 10px 10px;
}

.header-top .header-logo {
    width: 50px;
    height: 50px;
}

.menu-harburger {
    width: 50px;
    height: 50px;
    display: none;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

header nav a{
    color: var(--cor-segundaria);
    text-decoration: none;
    border: 1px solid var(--cor-segundaria);
    border-radius: 4px;
    padding: 5px 12px;
}

header nav a:hover {
    transition: 0.3s;
    color: rgba(147, 112, 56, 0.5);
    border: 1px solid rgba(147, 112, 56, 0.5);
}

.header-top .menu-harburger {
    cursor: pointer;
}

.header-top .menu-harburger:hover {
    border: solid 1px var(--cor-segundaria);
    background: rgba(147, 112, 56, 0.1);
    transition: 0.3s;
}

header .header-image-container {
    height: 100%;
    width: 100%;
    position: relative;
}
.img-header-desktop {
    width: 100%;
    height: 300px;
    opacity: 0.5;
}

.img-header-mobile {
    width: 100%;
    height: 200px;
    opacity: 0.5;
    display: none;
}

header .header-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    width: 300px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    color: var(--cor-segundaria);
    padding-top: 20px;
    font-size: 1.9em;
    cursor: pointer;
}


.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 40px 40px;
    max-width: 100%;
}

.menu-container img {
    height: 200px;
    width: 200px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: #cfcccc solid 1px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.menu-item-text h3 {
    margin-top: 15px;
    color: var(--cor-segundaria);
}

.menu-container .menu-item:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.menu-item-text {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.menu-container .menu-item button {
    width: 230px;
    height: 40px;
    border: none;
    background-color: var(--cor-segundaria);
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.btn-add-carrinho {
    margin-top: 3px;
}

.btn-descricao{
    background-color: var(--cor-fundo);
}


.menu-container .menu-item button:hover {
    border: 1px solid var(--cor-segundaria);
    background-color: var(--cor-fundo);
    color: var(--cor-segundaria);
    transition: 0.3;
}

.about-container {
    margin-top: 10px;
    min-width: 100vh;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.about-container h2 {
    color: var(--cor-segundaria);
    font-size: 1.9em;
    margin-bottom: 50px;
    cursor: pointer;
}

.about-container img {
    width:100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.about-text {
    position: absolute;
    min-width: 500px;
    margin-top: 100px;
}

.about-text h2, p {
    color: black;
}

footer {
    background-color: var(--cor-segundaria);
    color: white;
    padding: 40px 20px;
    text-align: center;
}

footer p {
    color: white;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    flex-wrap: wrap;
    border-radius: 5px 0 0 0;
}

.social-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.social-icons img:hover {
    transform: scale(1.2);
}

@media(max-width: 900px) {
    .header-top nav{
        display: none;
    }

    .header-top {
        gap: 300px;
        margin-top: 30px;
    }

    .menu-container {
        display: flex;
        flex-direction: column;
    }

    .menu-harburger {
        display: block;
    }
}


@media(max-width: 500px)
  {
    .img-header-desktop  {
        display: none;
    }

    .header-top {
        gap: 200px;
        margin-top: 10px;
    }

    .img-header-mobile {
        display: block;
    }
  }

